.datos-tramite {
  margin-top: 30px;

  ul {
    padding-left: 0;
  }

  li {
    list-style-type: none;
  }
}
@page {
  size: A4;
}
@media print {
  .btn,
  .main-footer,
  .panel-pane {
    display: none;
  }
}
