<div class="panel-pane pane-imagen-destacada">
  <app-jumbotron></app-jumbotron>
</div>

<div class="container">
  <div class="main">
    <section aria-label="Confirmación del turno">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-1">
          <p><i class="fa fa-check-circle fa-4x text-success"></i></p>
          <h1 class="h2">¡Turno reservado con éxito!</h1>
          <p>Te enviamos un correo electrónico con todos los datos de tu trámite.</p>

          <app-datos-turno [datosTurno]="datosTurno" [requisitos]="requisitos"></app-datos-turno>

          <div class="buttons-content">
            <div class="pull-right">
              <a href='javascript:window.print(); void 0;' class="btn btn-link">Imprimir</a>
              <button (click)="backStep()" class="btn btn-primary">Ir al inicio</button>
            </div>
            <button type="submit" class="btn btn-danger pull-left" (click)="modalCancelarTurno.show()">Cancelar turno</button>
          </div>
        </div>
      </div>
    </section>
    <app-modal-cancelar-turno #modalCancelarTurno [codigo]="datosTurno.codigo"></app-modal-cancelar-turno>
  </div>
</div>