<div class="panel">
    <app-alert></app-alert>
    <div class="panel-header">
        <h2>Calendario del punto de atención</h2>
    </div>
    <div class="row">
        <div class="col-md-6">  
            <div class="form-group">    
                <div class="input-group">
                    <input class="form-control" appSntDatePicker [options]="datepickerOptions" (onChange)="dateChange($event)" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>  
            <button type="button" class="btn btn-primary" [disabled]="!isDateSelected()" (click)="deshabilitarDia()">Deshabilitar día</button>
        </div>
        <div class="col-md-6">
            <div class="lista-deshabilitados">
                <h3>Próximos días deshabilitados</h3>
                <app-lista-feriados [feriados]="proximosFeriados" [idPuntoAtencion]="idPuntoAtencion" (habilitarDiaEvent)="habilitarDia()"></app-lista-feriados>
            </div>
        </div>
    </div>
    <app-modal-reasignar-turnos #modalReasignar
        (turnoCanceladoEvent)="turnoCancelado($event)" (turnosReasignadosEvent)="turnosReasignados($event)">
    </app-modal-reasignar-turnos>
</div>
