.section-title {
	border-bottom: 1px solid #ccc;
	h1 {
		margin: 11px 0;
	}
}
.section-acciones {
	button {
		margin-bottom: 0;
		margin-top: 10px;
	}
}
.panel {
	margin-top: 15px;
	padding: 20px;
	.panel-header {
		overflow: hidden;
		margin-bottom: 5px;
		h2 {
			width: calc(100% - 400px);
			float: left;
			font-weight: 500;
		}
	}
	table {
		border: 1px solid #ddd;
		font-weight: 400;
		font-size: 16px;
		button {
			margin-bottom: 0;
		}
		td.acciones {
			width: 190px;
		}
	}
}