<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <section class="block block-block clearfix">
          <img class="image-responsive" src="./assets/images/logo.svg" alt="Argentina.gob.ar - Presidencia de la Nación" />
          <p class="text-muted small">Los contenidos de Argentina.gob.ar están licenciados bajo <a href="https://creativecommons.org/licenses/by/2.5/ar/" target="_blank">Creative Commons Reconocimiento 2.5 Argentina License</a></p>
          <p class="app-version">Versión: {{version}}</p>
          <p class="app-version">API Versión: {{apiVersion}}</p>
        </section>
      </div>
      <div class="col-md-3 col-sm-6">
        
      </div>
      <div class="col-md-3 col-sm-6">
        
      </div>
    </div>
  </div>
</footer>